{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}


    {% block content %}
        <h1>Veuillez vous connecter</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <label for="inputUsername">Nom de Compte</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            <label for="inputPassword">Mot de Passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="submit" type="submit">
                Connexion
            </button>
        </form>
        {% endblock %}

