{% extends 'base.html.twig' %}

    {% block content %}
        {% if app.user %}
            <h1 class="form-title">Modifiez votre profil</h1>
            <div class="profile-pic">
                <img src="{{ asset('/public/uploads/'~app.user.photo) }}" alt="" width="100">
            </div>
            <div class="trick-form">
                {{ form(form) }}
            </div>
        {% endif %}
    {% endblock %}