{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}
        <h1>Modifiez votre profile</h1>
        {% if app.user %}
            {{ form(form) }}
        {% endif %}
    {% endblock %}
{% endblock %}