{% extends 'base.html.twig' %}

{% block content %}
<div class="main">
    <div class="container">
        <div class="booking-content">
            <div class="booking-image">
                <img class="booking-img" src="../../public/assets/img/snowboarder-backflip.jpg" alt="Booking Image">
            </div>
            <div class="booking-form">
                <h1>Bienvenue sur SnowTricks</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}