body {
    width: 100%;
    line-height: 1.8;
    font-weight: 400;
    height: 100%;
    margin-left: 0;
    margin-bottom: 0;
}

.trick-name {
    text-align: center;
}

.trick-description {
    font-size: 20px;
}

.trick-category {
    font-size: 12px;
    text-align: center;
}

.comment-form {
    border-top: solid 2px cornflowerblue;
    border-bottom: solid 2px cornflowerblue;
    width: calc(100% - 30%);
    margin: auto;
}

header {
    border-bottom: solid 2px cornflowerblue;
    height: 100px;
    width: 100%;
    justify-content: center;
    text-align: right;
}

.img-comment {
    float: right;
}

.comment {
    border: solid 2px cornflowerblue;
    width: calc(100% - 40%);
    margin: auto;
    float: right;
}

.comment-with-img {
    width: calc(100% - 60%);
    margin: 20px auto;
}

.trick-form {
    width: calc(100% - 40%);
    margin: auto;
    border-bottom: solid 2px cornflowerblue;
    border-top: solid 2px cornflowerblue;
}

.form-title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.trick-images {
    text-align: center;
    padding-bottom: 20px;
}

header a {
    text-decoration: none;
    width: auto;
    background: cornflowerblue;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: midnightblue;
}

header h1 {
    float: left
}

a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
}

.submit {
    background-color: cornflowerblue;
    color: white;
}

.submit:hover {
    color: midnightblue;
}

.profile-pic {
    text-align: center;
    padding-bottom: 20px;
}