{% extends 'base.html.twig' %}

    {% block content %}
        <div class="booking-content">
            <div class="booking-image">
                <img class="booking-img" src="../../public/assets/img/snowboarder-backflip.jpg" alt="Booking Image">
            </div>
            <div class="booking-form">
                <h1>Ajoutez une figure</h1>
                {% if app.user %}
                    {{ form(form) }}
                {% endif %}
            </div>
        </div>
    {% endblock %}