{% extends 'base.html.twig' %}

    {% block content %}
        <h1 class="form-title">Ajoutez une figure</h1>
        {% if app.user %}
            <div class="trick-form">
                {{ form(form) }}
            </div>
        {% endif %}
    {% endblock %}